<h1>New Tag</h1>

<%= render 'layouts/error_messages', resource: @tag %>

<%= form_with model: @tag, url: admin_tags_path do |f| %>
  <div class="mb-3">
    <p>タグ名</p>
    <%= f.text_field :tag_name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <p>アイコン</p>
    <%= f.text_field :icon, class: "form-control mb-3" %>
  
  <%= f.submit '登録', class: "btn btn-outline-success mb-5" %>
<% end %>
<br>
<%= link_to "Back", admin_tags_path %>