<h1>Editing Post</h1>

<%= render 'layouts/error_messages', resource: @post %>

<div>
  <%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>
    <p>スポット名</p>
    <%= f.text_field :title %>
    <p>スポット詳細</p>
    <%= f.text_area :body %>
    <p>住所</p>
    <%= f.text_area :address %>
    <p>電話番号</p>
    <%= f.text_field :telephone_number %>
    <p>営業時間</p>
    <%= f.text_area :opening_times %>
    <p>定休日</p>
    <%= f.text_area :closed_day %>
    <p>緯度</p>
    <%= f.text_field :latitude %>
    <p>経度</p>
    <%= f.text_field :longitude %>
    <p>画像</p>
    <%= f.file_field :post_image, accept: "image/*" %>

    <div class="mb-3">
      <p>タグを選択</p>
      <%= f.collection_select :tag_id, Tag.all, :id, :tag_name, prompt: "タグを選んでください", class: "form-select" %>
    </div>

    <%= f.submit "Update Post", class: "btn btn-outline-success" %>
  <% end %>
    <br>
  <% if @post.user == current_user %>
    <%= link_to "Destroy", post_path(@post), method: :delete, "data-confirm" => "この投稿を本当に削除しますか？", class: "btn btn-danger" %>
  <% end %>
</div>
<br>
<%= link_to "Back", posts_path %>