<div class="container">
  <h1 class="d-flex justify-content-between align-items-center mb-5">
    <a>Posts</a>
    <%= link_to '新規投稿はここから', new_post_path, class: 'btn btn-outline-primary', data: {turbolinks: "false"} %>
  </h1>
</div>

<table class="table">
  <thead class="text-center">
    <th style="width: 60px"></th>
    <th style="width: 100px">投稿者</th>
    <th style="width: 200px"></th>
    <th style="width: 250px">スポット名</th>
    <th style="width: 300px">スポット詳細</th>
  </thead>
  <tbody class="text-center">
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to user_path(post.user.id) do %>
            <%= image_tag post.user.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td>
          <%= link_to user_path(post.user.id) do %>
            <%= post.user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_post_image(100,100) %>
          <% end %>
        </td>
        <td>
          <%= link_to post_path(post.id) do %>
            <%= post.title %>
          <% end %>
        </td>
        <td><%= post.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>