<h1>Users</h1>

<table>
  <thead>
    <th>image</th>
    <th>name</th>
    <th>email</th>
  <thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to admin_user_path(user.id) do %>
            <%= image_tag user.get_profile_image(80,80) %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', admin_user_path(user.id), class: "btn btn-outline-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Back", admin_root_path %>