<div id="review-form_<%= post.id %>"></div>

<%= form_with(model: [@post, @review], local: true) do |f| %>
  <%= f.hidden_field :review, id: "review_score_#{post.id}" %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: "w-100" %>
  <%= f.submit "送信" %>
<% end %>

<% if post.id.nil? %>
  <div class="form-group" id="star">
    <%= f.label :review %>
    <%= f.hidden_field :review, id: :review_star, class: 'form-control' %>
    <div id="post_raty"></div>
  </div>
  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#review-form_<%= post.id %>');
      if (elem == null) return;

      elem.innerHTML = ""
      let opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'post[review]',
      };
      raty(elem, opt);
    });
  </script>
<% else %>
  <div class="form-group">
    <div id="review_<%= post.id %>"></div>
      <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#review-form_<%= post.id %>');
        if (elem == null) return;
        
        elem.innerHTML = "";
        let opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          
          
        };
        raty(elem, opt);
      });
      </script>
  </div>
<% end %>

