<table>
  <tbody>
    <% post.reviews.each do |review| %>
    <tr>
      <td width="20%">
        <%= link_to user_path(review.user) do %>
          <%= image_tag review.user.get_profile_image(80,80) %><br>
          <%= review.user.name %>
        <% end %>
      </td>
      <td width="50%"><%= review.comment %></td>
      <td>
        <div id="review_<%= review.id %>"></div>
      </td>
      <td>
        <% if review.user == current_user %>
          <%= link_to "Destroy", post_review_path(post, review), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか" } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  <% post.reviews.each do |review| %>
  $(document).on('turbolinks:load', function() {

      let elem = document.querySelector('#review_<%= review.id %>');
      if (elem == null) return;

      elem.innerHTML = ""
      let opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        score: "<%= review.review %>"
      };
      raty(elem, opt);

  });
  <% end %>
</script>